annoy==1.17.3
faiss-cpu==1.10.0
fastapi==0.115.11
funpymodeling==0.1.8
fuzzywuzzy==0.18.0
gradio==5.20.1
huggingface-hub==0.29.2
json5==0.10.0
jupyter==1.1.1
matplotlib==3.7.5
mlflow==2.20.2
numpy==1.26.4
pandas==2.0.3
pydantic==2.8.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.12.2
uvicorn==0.34.0
